<!DOCTYPE html>
<html style="background-color: #000000;">
<head>
  <title>Sandboxy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "sassy" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<% if user_signed_in? %>

    <div class="container top_container">
        <div class="login_state">
         Logged in as '<%= current_user.username %>'.&nbsp;&nbsp;<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
        </div>
      <div class="notifier">
          <%= image_tag "BgallaMask.png", :alt => "B\'galla!" %>
      </div>
        <div class="notifier bigtext">
           <pre>Willkommen in der Dunkleheit</pre>
        </div>
    </div>

    <div class="container top_container">
       <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
       <% end %>
     </div>

    <div class="container top_container">
        <div class="nav_options">
            <%= yield :left_nav %>
        </div>
        <div class="main">
            <%= yield :main %>
        </div>
    </div>

<% else %>
    <%= yield %>
<% end %>

</body>
</html>
